/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}

h1 {
     text-align: center;
}

.game-container {
     display: grid;
     grid-template-columns: repeat(3, auto);
     width: 300px;
     margin: 10px auto;
}

.cell {
     width: 100px;
     height: 100px;
     border: 2px solid black;
     cursor: pointer;
     line-height: 100px;
     font-size: 60px;
     text-align: center;
}


/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
